$body-font: 'Roboto', sans-serif;
$desc-font-size: 12px;
$font-color : #d4af37;
$load-font: 'Saira Condensed', sans-serif;
$load-font-size: 20px;
$card-bg-color: #3B444B;
$icon-bg-color: #483C32;
$bottom-bg-color: #01796F;
@mixin positioning() {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto auto;
}

body {
    background-color: $font-color;
    color: #cfcfcf;
    font-family: 'Roboto', sans-serif;
    @include positioning();
    
    div#initialize {
        text-align: center;
        div#initialize-poly {
            svg {
                @include positioning();
                // opacity: 0;
            }
        }
        div#initialize-text input {
            @include positioning();
            height: 30px;
            width: 100px;
            opacity: 0;
            text-align: center;
            background-color: transparent;
            color: $font-color;
            border-width: 0;

            font-family: $load-font;
            font-size: $load-font-size;
        }
    }

    .tooltip {
        position: relative;
        display: inline-block;
        // border-bottom: 1px dotted black;
    }
    
    .tooltip .tooltiptext {
        font-family: $body-font;
        font-size: $desc-font-size;
        visibility: hidden;
        width: 80px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        line-height: 135%;
        position: absolute;
        z-index: 1;
        top: 125%;
        left: 50%;
        margin-left: -40px;
        opacity: 0;
        transition: opacity 1s;
    }
    
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #555 transparent;
    }
    
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

div.card-container {
    @include positioning();
    opacity: 0;
    
    width: 485.41px;
    height: 300px;
    
    border-width: 0;
    border-radius: 20px;
    box-shadow: 0 0 100px 1px rgba(0, 0, 0, 0.5);
    
    background-color: $card-bg-color;
    text-align: center;
    div.name {
        margin: 90px 0 10px 0;
        text-align: center;
        font-size: 25px;
    }
    div.description {
        margin: 0 0 60px 0;
        color: #d4af37;
        font-size: 12px;
        font-family: $load-font;
        text-align: center;
    }
    div#icon-container {
        background-color: $bottom-bg-color;
        padding: 28px;
        border-radius: 0 0 20px 20px;
        a.fa {
            padding: 10px;
            margin: 0 10px;
            width: 16px;
            // height: 30px;
            background-color: $icon-bg-color;
            border-radius: 50%;
            color: $font-color;
            text-decoration: none;
            transition: all .3s ease-in-out;
        }
        a.fa:hover {
            background-color: rgba(0, 0, 0, 1);
            color: #ffffff;
        }
    }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i");
@import url('https://fonts.googleapis.com/css?family=Saira+Condensed:300');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css");